* {
    padding: 0;
    margin: 0;
    font-family: "Red Hat Display", sans-serif;
    box-sizing: border-box;
  }
  /* nav style start from here */
  .mobile-nav-row {
    display: none;
  }
  .nav-row {
    padding-top: 30px;
    max-width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .nav-title-row {
    color: #ffffff;
    font-size: 36px;
    font-weight: 800;
    z-index: 1;
  }
  .nav-link-row {
    display: flex;
    align-items: center;
    gap: 32px;
    z-index: 1;
  }
  .nav-link-row li {
    list-style: none;
    color: #ffffff;
    cursor: pointer;
  }
  .nav-link-row li:hover {
    font-weight: 600;
  }
  .active-menu {
    font-weight: 600;
  }
  .primary-btn-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: linear-gradient(to bottom right, #625eff, #8849ff);
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    color: #ffff;
    font-weight: 600;
    font-size: 16px;
  }
  .hero-main-content {
    padding-top: 150px;
    padding-bottom: 244px;
    text-align: center;
    color: #ffffff;
  }
  .hero-title {
    font-size: 72px;
    font-weight: 700;
  }
  .hero-item small {
    font-size: 16px;
    font-weight: 400;
  }
  .hero-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
  }
  .explore-artwork {
    color: #635eff;
  }
  /* for max 1545 px to min 1400px */
  @media only screen and (min-width: 1400px) and (max-width: 1545px) {
    .nav-row {
      max-width: 1200px;
    }
    .hero-main-content {
      padding-top: 120px;
      padding-bottom: 180px;
      text-align: center;
      color: #ffffff;
    }
    .hero-title {
      font-size: 72px;
      font-weight: 700;
    }
    .hero-item small {
      font-size: 16px;
      font-weight: 400;
    }
    .hero-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-top: 16px;
    }
    .explore-artwork {
      color: #635eff;
    }
  }
  /* for max 1400 px to min 1201px */
  @media only screen and (min-width: 1201px) and (max-width: 1400px) {
    .nav-row {
      max-width: 1000px;
    }
    .hero-main-content {
      padding-top: 80px;
      padding-bottom: 150px;
      text-align: center;
      color: #ffffff;
    }
    .hero-title {
      font-size: 65px;
      font-weight: 700;
    }
    .hero-item small {
      font-size: 16px;
      font-weight: 400;
    }
    .hero-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-top: 16px;
    }
    .explore-artwork {
      color: #635eff;
    }
  }
  /* for big tab and laptops*/
  @media only screen and (max-width: 1200px) and (min-width: 1025px) {
    .nav-row {
      max-width: 900px;
    }
    .nav-title-row {
      font-size: 30px;
    }
    .hero-main-content {
      padding-top: 70px;
      padding-bottom: 140px;
      text-align: center;
      color: #ffffff;
    }
    .hero-title {
      font-size: 55px;
      font-weight: 700;
    }
    .hero-item small {
      font-size: 16px;
      font-weight: 400;
    }
    .hero-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-top: 10px;
    }
    .explore-artwork {
      color: #635eff;
    }
  }
  /* for laptops and small screen */
  @media only screen and (max-width: 1024px) and (min-width: 769px) {
    .nav-row {
      max-width: 695px;
    }
    .nav-link-row {
      gap: 17px;
    }
    .nav-link-row li {
      font-size: 12px;
    }
    .primary-btn-row {
      font-size: 10px;
      padding: 8px 12px;
      gap: 4px;
    }
    .primary-btn-row img {
      width: 15px;
    }
    .nav-title-row {
      font-size: 25px;
    }
    .hero-main-content {
      padding-top: 60px;
      padding-bottom: 110px;
      text-align: center;
      color: #ffffff;
    }
    .hero-title {
      font-size: 45px;
      font-weight: 700;
    }
    .hero-item small {
      font-size: 14px;
      font-weight: 400;
    }
    .hero-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      margin-top: 10px;
    }
    .explore-artwork {
      color: #635eff;
    }
    .hero-item img {
      width: 7px;
    }
  }
  /* for tab and laptops responsive */
  @media only screen and (max-width: 768px) and (min-width: 541px) {
    .nav-row {
      max-width: 520px;
      margin: auto;
      padding-top: 20px;
    }
    .primary-btn-row {
      font-size: 8px;
      padding: 6px 10px;
      gap: 6px;
      border-radius: 6px;
    }
    .primary-btn-row img {
      width: 12px;
    }
    .nav-link-row {
      gap: 10px;
    }
    .mobile-nav-row {
      display: none;
    }
    .nav-title-row {
      font-size: 20px;
    }
    .nav-link-row li {
      font-size: 10px;
    }
    .nav-title-row {
      font-size: 22px;
    }
    .hero-main-content {
      padding-top: 40px;
      padding-bottom: 90px;
      text-align: center;
      color: #ffffff;
    }
    .hero-title {
      font-size: 40px;
      font-weight: 700;
    }
    .hero-item small {
      font-size: 12px;
      font-weight: 400;
    }
    .hero-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      margin-top: 8px;
    }
    .explore-artwork {
      color: #635eff;
    }
    .hero-item img {
      width: 7px;
    }
  }
  /* microsoft surface duo series device */
  @media only screen and (max-width: 540px) and (min-width: 481px) {
    .nav-row{
      display: none;
    }
    .hero-main-content {
      padding-top: 30px;
      padding-bottom: 90px;
      text-align: center;
      color: #ffffff;
    }
    .hero-title {
      font-size: 35px;
      font-weight: 700;
    }
    .hero-item small {
      font-size: 11px;
      font-weight: 400;
    }
    .hero-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      margin-top: 8px;
    }
    .explore-artwork {
      color: #635eff;
    }
    .hero-item img {
      width: 6px;
    }
  }
  /* for sm device */
  @media only screen and (max-width: 480px) and (min-width: 359px) {
    .nav-title-row {
      font-size: 16px;
    }
    .hero-main-content {
      padding-top: 30px;
      padding-bottom: 90px;
      text-align: center;
      color: #ffffff;
    }
    .hero-title {
      font-size: 32px;
      font-weight: 700;
    }
    .hero-item small {
      font-size: 10px;
      font-weight: 400;
    }
    .hero-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      margin-top: 8px;
    }
    .explore-artwork {
      color: #635eff;
    }
    .hero-item img {
      width: 5px;
    }
  }
  /* for xs device */
  @media only screen and (max-width: 358px) {
    .nav-row {
      display: none;
    }
    .hero-main-content {
      padding-top: 25px;
      padding-bottom: 90px;
      text-align: center;
      color: #ffffff;
    }
    .hero-title {
      font-size: 25px;
      font-weight: 700;
    }
    .hero-item small {
      font-size: 8px;
      font-weight: 400;
    }
    .hero-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      margin-top: 6px;
    }
    .explore-artwork {
      color: #635eff;
    }
    .hero-item img {
      width: 4px;
    }
  }
  /* hero section style end here */
  /* ------------------- */
  
  /* footer style end here */
  
  /* collection section style start from here */
  .collection-card-section{
    max-width: 1320px;
    margin: auto;
  }
  .collection-card-group{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
  }
  .collection-card{
    position: relative;
    max-width: 424px;
    height: 498px;
    padding: 24px;
    background: linear-gradient(180deg, #1E1E37 0%, rgba(30, 30, 55, 0) 100%);
    border-radius: 8px;
  }
  .collection-card-image{
    width: 376px;
    height: 260px;
    border-radius: 8px;
  }
  .collection-card-sub-image-group{
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sub-image{
    max-width: 76px;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
  }
  .collection-card-title{
    margin-top: 16px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
  }
  .created-by{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }
  .created-by small{
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    opacity: 60%;
  }
  .created-by span{
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
  }
  .collection-card-progress{
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .collection-card-single-progress{
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .collection-card-single-progress small{
    font-size: 12px;
    color: #ffffff;
    opacity: 60%;
  }
  .man{
    color: #625EFF;
  }
  .collection-card-single-progress i{
    color: #FF4450;
  }
  .profile{
    position: absolute;
    top: -255px;
    left: 137px;
    position: relative;
  }
  .collection-profile-image{
    border: 3px solid #ffffff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  .correct{
    position: absolute;
    bottom: 0;
    left: 43px;
  }
  .load-more-btn{
    background: linear-gradient(180deg, #615EFF 0%, #8749FF 100%);
    padding: 12px 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: auto;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 64px;
  }

/* for max 1545 px to min 1400px */
@media only screen and (min-width: 1400px) and (max-width: 1545px) {
  .load-more-btn{
    background: linear-gradient(180deg, #615EFF 0%, #8749FF 100%);
    padding: 12px 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: auto;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 50px;
  }
  .collection-card-section{
    max-width: 1200px;
  }
  .collection-card-group{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
  }
  .collection-card{
    position: relative;
    max-width: 387px;
    height: 480px;
    padding: 24px;
    background: linear-gradient(180deg, #1E1E37 0%, rgba(30, 30, 55, 0) 100%);
    border-radius: 8px;
  }
  .collection-card-image{
    max-width: 100%;
    height: 240px;
    border-radius: 8px;
  }
  .collection-card-sub-image-group{
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sub-image{
    max-width: 75px;
    height: 100%;
    border-radius: 8px;
  }
  .collection-card-title{
    margin-top: 14px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
  }
  .created-by{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }
  .created-by small{
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    opacity: 60%;
  }
  .created-by span{
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
  }
  .collection-card-progress{
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .collection-card-single-progress{
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .collection-card-single-progress small{
    font-size: 12px;
    color: #ffffff;
    opacity: 60%;
  }
  .man{
    color: #625EFF;
  }
  .collection-card-single-progress i{
    color: #FF4450;
  }
  .profile{
    position: absolute;
    top: -247px;
    left: 125px;
    position: relative;
  }
  .collection-profile-image{
    border: 3px solid #ffffff;
    border-radius: 50%;
    width: 90px;
    height: 90px;
  }
  .correct{
    position: absolute;
    bottom: 0;
    left: 37px;
  }
}
/* for max 1400 px to min 1201px */
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .load-more-btn{
    background: linear-gradient(180deg, #615EFF 0%, #8749FF 100%);
    padding: 12px 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: auto;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    margin-top:45px;
  }
  .collection-card-section{
    max-width: 1000px;
  }
  .collection-card-group{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 17px;
  }
  .collection-card{
    position: relative;
    max-width: 387px;
    height: 395px;
    padding: 20px;
    background: linear-gradient(180deg, #1E1E37 0%, rgba(30, 30, 55, 0) 100%);
    border-radius: 8px;
  }
  .collection-card-image{
    max-width: 100%;
    height: 190px;
    border-radius: 8px;
  }
  .collection-card-sub-image-group{
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sub-image{
    max-width: 62px;
    height: 100%;
    border-radius: 8px;
  }
  .collection-card-title{
    margin-top: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
  }
  .created-by{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }
  .created-by small{
    font-size: 11px;
    font-weight: 400;
    color: #ffffff;
    opacity: 60%;
  }
  .created-by span{
    font-size: 11px;
    font-weight: 500;
    color: #ffffff;
  }
  .collection-card-progress{
    margin-top: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .collection-card-single-progress{
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .collection-card-single-progress small{
    font-size: 11px;
    color: #ffffff;
    opacity: 60%;
  }
  .man{
    color: #625EFF;
  }
  .collection-card-single-progress i{
    color: #FF4450;
  }
  .profile{
    position: absolute;
    top: -225px;
    left: 95px;
    position: relative;
  }
  .collection-profile-image{
    border: 3px solid #ffffff;
    border-radius: 50%;
    width: 75px;
    height: 75px;
  }
  .correct{
    position: absolute;
    bottom: 0;
    left: 35px;
    width: 12px;
  }
}
/* for big tab and laptops*/
@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .load-more-btn{
    background: linear-gradient(180deg, #615EFF 0%, #8749FF 100%);
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: auto;
    border: none;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 40px;
  }
  .collection-card-section{
    max-width: 900px;
  }
  .collection-card-group{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 14px;
  }
  .collection-card{
    position: relative;
    max-width: 387px;
    height: 370px;
    padding: 18px;
    background: linear-gradient(180deg, #1E1E37 0%, rgba(30, 30, 55, 0) 100%);
    border-radius: 8px;
  }
  .collection-card-image{
    max-width: 100%;
    height: 170px;
    border-radius: 8px;
  }
  .collection-card-sub-image-group{
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sub-image{
    max-width: 55px;
    height: 100%;
    border-radius: 8px;
  }
  .collection-card-title{
    margin-top: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
  }
  .created-by{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }
  .created-by small{
    font-size: 11px;
    font-weight: 400;
    color: #ffffff;
    opacity: 60%;
  }
  .created-by span{
    font-size: 11px;
    font-weight: 500;
    color: #ffffff;
  }
  .collection-card-progress{
    margin-top: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .collection-card-single-progress{
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .collection-card-single-progress small{
    font-size: 11px;
    color: #ffffff;
    opacity: 60%;
  }
  .man{
    color: #625EFF;
  }
  .collection-card-single-progress i{
    color: #FF4450;
  }
  .profile{
    position: absolute;
    top: -195px;
    left: 90px;
    position: relative;
  }
  .collection-profile-image{
    border: 3px solid #ffffff;
    border-radius: 50%;
    width: 67px;
    height: 67px;
  }
  .correct{
    position: absolute;
    bottom: 0;
    left: 29px;
    width: 12px;
  }
}
/* for laptops and small screen */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .load-more-btn{
    background: linear-gradient(180deg, #615EFF 0%, #8749FF 100%);
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    margin: auto;
    border: none;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 35px;
  }
  .collection-card-section{
    max-width: 695px;
    overflow: hidden;
  }
  .collection-card-group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 18px;
  }
  .collection-card{
    position: relative;
    max-width: 387px;
    height: 430px;
    padding: 22px;
    background: linear-gradient(180deg, #1E1E37 0%, rgba(30, 30, 55, 0) 100%);
    border-radius: 8px;
  }
  .collection-card-image{
    max-width: 100%;
    height: 210px;
    border-radius: 8px;
  }
  .collection-card-sub-image-group{
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sub-image{
    max-width: 65px;
    height: 100%;
    border-radius: 8px;
  }
  .collection-card-title{
    margin-top: 14px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
  }
  .created-by{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }
  .created-by small{
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    opacity: 60%;
  }
  .created-by span{
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
  }
  .collection-card-progress{
    margin-top: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .collection-card-single-progress{
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .collection-card-single-progress small{
    font-size: 12px;
    color: #ffffff;
    opacity: 60%;
  }
  .man{
    color: #625EFF;
  }
  .collection-card-single-progress i{
    color: #FF4450;
  }
  .profile{
    position: absolute;
    top: -230px;
    left: 105px;
    position: relative;
  }
  .collection-profile-image{
    border: 3px solid #ffffff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  .correct{
    position: absolute;
    bottom: 0;
    left: 34px;
  }
  .collection-card-two-hide{
    display: none;
  }
}
/* for tab and laptops responsive */
@media only screen and (max-width: 768px) and (min-width: 541px) {
  .load-more-btn{
    background: linear-gradient(180deg, #615EFF 0%, #8749FF 100%);
    padding: 9px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    margin: auto;
    border: none;
    font-size: 11px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 32px;
  }
  .collection-card-section{
    max-width: 520px;
    overflow: hidden;
  }
  .collection-card-group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
  .collection-card{
    position: relative;
    max-width: 256px;
    height: 320px;
    padding: 16px;
    background: linear-gradient(180deg, #1E1E37 0%, rgba(30, 30, 55, 0) 100%);
    border-radius: 8px;
  }
  .collection-card-image{
    max-width: 100%;
    height: 149px;
    border-radius: 8px;
  }
  .collection-card-sub-image-group{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sub-image{
    max-width: 48px;
    height: 100%;
    border-radius: 8px;
  }
  .collection-card-title{
    margin-top: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
  }
  .created-by{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }
  .created-by small{
    font-size: 11px;
    font-weight: 400;
    color: #ffffff;
    opacity: 60%;
  }
  .created-by span{
    font-size: 11px;
    font-weight: 500;
    color: #ffffff;
  }
  .collection-card-progress{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .collection-card-single-progress{
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .collection-card-single-progress small{
    font-size: 10px;
    color: #ffffff;
    opacity: 60%;
  }
  .man{
    color: #625EFF;
    font-size: 12px;
  }
  .collection-card-single-progress i{
    font-size: 11px;
    color: #FF4450;
  }
  .collection-card-single-progress img{
    width: 15px;
  }
  .profile{
    position: absolute;
    top: -180px;
    left: 80px;
    position: relative;
  }
  .collection-profile-image{
    border: 3px solid #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  .correct{
    position: absolute;
    bottom: 0;
    left: 25px;
    width: 12px;
  }
  .collection-card-two-hide{
    display: none;
  }
}
/* microsoft surface duo series device */
@media only screen and (max-width: 540px) and (min-width: 481px) {
  .load-more-btn{
    background: linear-gradient(180deg, #615EFF 0%, #8749FF 100%);
    padding: 10px 18px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: auto;
    border: none;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 30px;
  }
  .collection-card-section{
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
  }
  .collection-card-group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
  .collection-card{
    position: relative;
    max-width: 256px;
    height: 295px;
    padding: 15px;
    background: linear-gradient(180deg, #1E1E37 0%, rgba(30, 30, 55, 0) 100%);
    border-radius: 8px;
  }
  .collection-card-image{
    max-width: 100%;
    height: 140px;
    border-radius: 8px;
  }
  .collection-card-sub-image-group{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sub-image{
    max-width: 44px;
    height: 100%;
    border-radius: 8px;
  }
  .collection-card-title{
    margin-top: 12px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
  }
  .created-by{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }
  .created-by small{
    font-size: 11px;
    font-weight: 400;
    color: #ffffff;
    opacity: 60%;
  }
  .created-by span{
    font-size: 11px;
    font-weight: 500;
    color: #ffffff;
  }
  .collection-card-progress{
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .collection-card-single-progress{
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .collection-card-single-progress small{
    font-size: 9px;
    color: #ffffff;
    opacity: 60%;
  }
  .man{
    color: #625EFF;
    font-size: 12px;
  }
  .collection-card-single-progress i{
    font-size: 11px;
    color: #FF4450;
  }
  .collection-card-single-progress img{
    width: 13px;
  }
  .profile{
    position: absolute;
    top: -160px;
    left: 73px;
    position: relative;
  }
  .collection-profile-image{
    border: 3px solid #ffffff;
    border-radius: 50%;
    width: 55px;
    height: 55px;
  }
  .correct{
    position: absolute;
    bottom: 0;
    left: 22px;
    width: 12px;
  }
  .collection-card-two-hide{
    display: none;
  }
}
/* for sm device */
@media only screen and (max-width: 480px) and (min-width: 359px) {
  .load-more-btn{
    background: linear-gradient(180deg, #615EFF 0%, #8749FF 100%);
    padding: 11px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    margin: auto;
    border: none;
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 30px;
  }
  .collection-card-section{
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
  }
  .collection-card-group{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .collection-card{
    margin-top: 15px;
    position: relative;
    max-width: 450px;
    height: 480px;
    padding: 40px;
    background: linear-gradient(180deg, #1E1E37 0%, rgba(30, 30, 55, 0) 100%);
    border-radius: 8px;
  }
  .collection-card-image{
    max-width: 100%;
    height: 60%;
    border-radius: 8px;
  }
  .collection-card-sub-image-group{
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sub-image{
    max-width: 65px;
    height: 100%;
    border-radius: 8px;
  }
  .collection-card-title{
    margin-top: 14px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
  }
  .created-by{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }
  .created-by small{
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    opacity: 60%;
  }
  .created-by span{
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
  }
  .collection-card-progress{
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .collection-card-single-progress{
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .collection-card-single-progress small{
    font-size: 12px;
    color: #ffffff;
    opacity: 60%;
  }
  .man{
    color: #625EFF;
  }
  .collection-card-single-progress i{
    color: #FF4450;
  }
  .profile{
    position: absolute;
    top: -57%;
    left: 37%;
    position: relative;
  }
  .collection-profile-image{
    border: 3px solid #ffffff;
    border-radius: 50%;
    width: 85px;
    height: 85px;
  }
  .correct{
    position: absolute;
    bottom: 0;
    left: 38px;
  }
  .collection-card-three-hide{
    display: none;
  }
}
/* for xs device */
@media only screen and (max-width: 358px) {
  .load-more-btn{
    background: linear-gradient(180deg, #615EFF 0%, #8749FF 100%);
    padding: 9px 18px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: auto;
    border: none;
    font-size: 10px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 10px;
  }
  .collection-card-section{
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
  }
  .collection-card-group{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 8px;
  }
  .collection-card{
    position: relative;
    max-width: 380px;
    height: 380px;
    padding: 18px;
    background: linear-gradient(180deg, #1E1E37 0%, rgba(30, 30, 55, 0) 100%);
    border-radius: 8px;
  }
  .collection-card-image{
    max-width: 100%;
    height: 185px;
    border-radius: 8px;
  }
  .collection-card-sub-image-group{
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sub-image{
    max-width: 47px;
    height: 100%;
    border-radius: 8px;
  }
  .collection-card-title{
    margin-top: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
  }
  .created-by{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }
  .created-by small{
    font-size: 11px;
    font-weight: 400;
    color: #ffffff;
    opacity: 60%;
  }
  .created-by span{
    font-size: 11px;
    font-weight: 500;
    color: #ffffff;
  }
  .collection-card-progress{
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .collection-card-single-progress{
    display: flex;
    align-items: center;
    gap: 3px;
  }
  .collection-card-single-progress small{
    font-size: 10px;
    color: #ffffff;
    opacity: 60%;
  }
  .man{
    color: #625EFF;
  }
  .collection-card-single-progress i{
    color: #FF4450;
  }
  .profile{
    position: absolute;
    top: -55%;
    left: 35%;
    position: relative;
  }
  .collection-profile-image{
    border: 3px solid #ffffff;
    border-radius: 50%;
    width: 75px;
    height: 75px;
  }
  .correct{
    position: absolute;
    bottom: 0;
    left: 31px;
  }
  .collection-card-three-hide{
    display: none;
  }
}
  /* collection section style end here */