* {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
body{
  overflow-x: hidden;
}
/* hero section style start from here */
.mobile-nav-row {
  display: none;
}
.nav-row {
  padding-top: 30px;
  max-width: 1320px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.nav-title-row {
  color: #ffffff;
  font-size: 36px;
  font-weight: 800;
  z-index: 1;
}
.nav-link-row {
  display: flex;
  align-items: center;
  gap: 32px;
  z-index: 1;
}
.nav-link-row li {
  list-style: none;
  color: #ffffff;
  cursor: pointer;
}
.nav-link-row li:hover {
  font-weight: 600;
}
.active-menu {
  font-weight: 600;
}
.primary-btn-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: linear-gradient(to bottom right, #625eff, #8849ff);
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  color: #ffff;
  font-weight: 600;
  font-size: 16px;
}
.hero-main-content {
  padding-top: 150px;
  padding-bottom: 244px;
  text-align: center;
  color: #ffffff;
}
.hero-title {
  font-size: 72px;
  font-weight: 700;
}
.hero-item small {
  font-size: 16px;
  font-weight: 400;
}
.hero-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}
.explore-artwork {
  color: #635eff;
}
/* for max 1545 px to min 1400px */
@media only screen and (min-width: 1400px) and (max-width: 1545px) {
  .nav-row {
    max-width: 1200px;
  }
  .hero-main-content {
    padding-top: 120px;
    padding-bottom: 180px;
    text-align: center;
    color: #ffffff;
  }
  .hero-title {
    font-size: 72px;
    font-weight: 700;
  }
  .hero-item small {
    font-size: 16px;
    font-weight: 400;
  }
  .hero-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
  }
  .explore-artwork {
    color: #635eff;
  }
}
/* for max 1400 px to min 1201px */
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .nav-row {
    max-width: 1000px;
  }
  .hero-main-content {
    padding-top: 80px;
    padding-bottom: 150px;
    text-align: center;
    color: #ffffff;
  }
  .hero-title {
    font-size: 65px;
    font-weight: 700;
  }
  .hero-item small {
    font-size: 16px;
    font-weight: 400;
  }
  .hero-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
  }
  .explore-artwork {
    color: #635eff;
  }
}
/* for big tab and laptops*/
@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .nav-row {
    max-width: 900px;
  }
  .nav-title-row {
    font-size: 30px;
  }
  .hero-main-content {
    padding-top: 70px;
    padding-bottom: 140px;
    text-align: center;
    color: #ffffff;
  }
  .hero-title {
    font-size: 55px;
    font-weight: 700;
  }
  .hero-item small {
    font-size: 16px;
    font-weight: 400;
  }
  .hero-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
  }
  .explore-artwork {
    color: #635eff;
  }
}
/* for laptops and small screen */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .nav-row {
    max-width: 695px;
  }
  .nav-link-row {
    gap: 17px;
  }
  .nav-link-row li {
    font-size: 12px;
  }
  .primary-btn-row {
    font-size: 10px;
    padding: 8px 12px;
    gap: 4px;
  }
  .primary-btn-row img {
    width: 15px;
  }
  .nav-title-row {
    font-size: 25px;
  }
  .hero-main-content {
    padding-top: 60px;
    padding-bottom: 110px;
    text-align: center;
    color: #ffffff;
  }
  .hero-title {
    font-size: 45px;
    font-weight: 700;
  }
  .hero-item small {
    font-size: 14px;
    font-weight: 400;
  }
  .hero-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
  }
  .explore-artwork {
    color: #635eff;
  }
  .hero-item img {
    width: 7px;
  }
}
/* for tab and laptops responsive */
@media only screen and (max-width: 768px) and (min-width: 541px) {
  .nav-row {
    max-width: 520px;
    margin: auto;
    padding-top: 20px;
  }
  .primary-btn-row {
    font-size: 8px;
    padding: 6px 10px;
    gap: 6px;
    border-radius: 6px;
  }
  .primary-btn-row img {
    width: 12px;
  }
  .nav-link-row {
    gap: 10px;
  }
  .mobile-nav-row {
    display: none;
  }
  .nav-title-row {
    font-size: 20px;
  }
  .nav-link-row li {
    font-size: 10px;
  }
  .nav-title-row {
    font-size: 22px;
  }
  .hero-main-content {
    padding-top: 40px;
    padding-bottom: 90px;
    text-align: center;
    color: #ffffff;
  }
  .hero-title {
    font-size: 40px;
    font-weight: 700;
  }
  .hero-item small {
    font-size: 12px;
    font-weight: 400;
  }
  .hero-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-top: 8px;
  }
  .explore-artwork {
    color: #635eff;
  }
  .hero-item img {
    width: 7px;
  }
}
/* microsoft surface duo series device */
@media only screen and (max-width: 540px) and (min-width: 481px) {
  .nav-row {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    padding-top: 20px;
  }
  .primary-btn-row {
    font-size: 8px;
    padding: 6px 10px;
    gap: 6px;
    border-radius: 6px;
  }
  .primary-btn-row img {
    width: 12px;
  }
  .nav-link-row {
    gap: 10px;
  }
  .mobile-nav-row {
    display: none;
  }
  .nav-title-row {
    font-size: 16px;
  }
  .nav-link-row li {
    font-size: 8px;
  }
  .nav-title-row {
    font-size: 18px;
  }
  .hero-main-content {
    padding-top: 30px;
    padding-bottom: 90px;
    text-align: center;
    color: #ffffff;
  }
  .hero-title {
    font-size: 35px;
    font-weight: 700;
  }
  .hero-item small {
    font-size: 11px;
    font-weight: 400;
  }
  .hero-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-top: 8px;
  }
  .explore-artwork {
    color: #635eff;
  }
  .hero-item img {
    width: 6px;
  }
}
/* for sm device */
@media only screen and (max-width: 480px) and (min-width: 359px) {
  .nav-row {
    display: none;
  }
  .mobile-nav-row {
    max-width: 100%;
    padding-left: 15px;
    padding-left: 15px;
    margin: auto;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  .mobile-nav-btn-icone {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  #menu-icon {
    font-size: 25px;
    color: #ffffff;
    z-index: 2;
  }
  .mobile-nav-link-row {
    position: absolute;
    top: -230px;
    right: 15.5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 130px;
    background: #1d1d32;
    color: #ffffff;
    padding-bottom: 15px;
    margin-left: -10px;
  }
  .open {
    z-index: 2;
    top: 50px;
    /* margin-right: 35px; */
  }
  .mobile-nav-link-row li {
    display: block;
    margin-top: 14px;
    margin-left: -10px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2 ease;
  }
  .mobile-nav-link-row li:hover {
    font-weight: 600;
  }
  .mobile-active-menu {
    font-weight: 600;
  }
  .mobile-nav-title-row {
    z-index: 1;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
  }
  .mobile-primary-btn-row {
    z-index: 2;
    background: linear-gradient(to bottom right, #625eff, #8849ff);
    font-size: 8px;
    font-weight: 500;
    color: #ffffff;
    padding: 6px 8px;
    border: none;
    border-radius: 4px;
  }
  .mobile-primary-btn-row img {
    width: 10px;
  }
  .nav-title-row {
    font-size: 16px;
  }
  .hero-main-content {
    padding-top: 30px;
    padding-bottom: 90px;
    text-align: center;
    color: #ffffff;
  }
  .hero-title {
    font-size: 32px;
    font-weight: 700;
  }
  .hero-item small {
    font-size: 10px;
    font-weight: 400;
  }
  .hero-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-top: 8px;
  }
  .explore-artwork {
    color: #635eff;
  }
  .hero-item img {
    width: 5px;
  }
}
/* for xs device */
@media only screen and (max-width: 358px) {
  .nav-row {
    display: none;
  }
  .mobile-nav-row {
    max-width: 100%;

    margin: auto;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  .mobile-nav-btn-icone {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  #menu-icon {
    font-size: 25px;
    color: #ffffff;
    z-index: 2;
  }
  .mobile-nav-link-row {
    position: absolute;
    top: -230px;
    right: 15.5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 130px;
    background: #1d1d32;
    color: #ffffff;
    padding-bottom: 15px;
    margin-left: -10px;
  }
  .open {
    z-index: 2;
    top: 50px;
    /* margin-right: 35px; */
  }
  .mobile-nav-link-row li {
    display: block;
    margin-top: 14px;
    margin-left: -10px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2 ease;
  }
  .mobile-nav-link-row li:hover {
    font-weight: 600;
  }
  .mobile-active-menu {
    font-weight: 600;
  }
  .mobile-nav-title-row {
    z-index: 1;
    font-size: 11px;
    font-weight: 700;
    color: #ffffff;
  }
  .mobile-primary-btn-row {
    z-index: 2;
    background: linear-gradient(to bottom right, #625eff, #8849ff);
    font-size: 6px;
    font-weight: 500;
    color: #ffffff;
    padding: 4px 6px;
    border: none;
    border-radius: 4px;
  }
  .mobile-primary-btn-row img {
    width: 10px;
  }
  .nav-title-row {
    font-size: 16px;
  }
  .hero-main-content {
    padding-top: 25px;
    padding-bottom: 90px;
    text-align: center;
    color: #ffffff;
  }
  .hero-title {
    font-size: 25px;
    font-weight: 700;
  }
  .hero-item small {
    font-size: 8px;
    font-weight: 400;
  }
  .hero-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin-top: 6px;
  }
  .explore-artwork {
    color: #635eff;
  }
  .hero-item img {
    width: 4px;
  }
}
/* hero section style end here */

/* explore section style start from here */
.explore-section {
  max-width: 1320px;
  margin: auto;
}
.card-group-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.card-row {
  max-width: 312px;
  height: 361px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}
.love-div {
  width: 29px;
  height: 29px;
  background: #1e1e37;
  border-radius: 4px;
  padding: 4px;
  text-align: center;
}
.love-div i {
  font-size: 14px;
  color: #ff4450;
}

/* home-1 overlay img */
.card-image-row {
  border-radius: 8px;
  width: 312px;
  height: 200px;
  overflow: hidden;
}
.card-image-row img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: 0.8s ease;
  overflow: hidden;
}
.card-image-row img:hover {
  background: #1c1c1c;
  opacity: 30%;
  transition: 0.8s ease;
  transform: scale(1.2);
  overflow: hidden;
}

.three-dot {
  background: #1d1d32;
  padding: 4px;
  border-radius: 4px;
  width: 29px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  left: 262.59px;
}
.three-dot i {
  font-size: 18px;
  color: #ffffff;
}
.card-top-row {
  margin-top: 24px;
}
.card-top-title {
  font-size: 12px;
  color: #ffffff;
  opacity: 60%;
  font-weight: 400;
  margin-bottom: 0px;
}
.card-top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-profile {
  display: flex;
  align-items: center;
  gap: 4px;
}
.card-title-row {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 4px;
}
.bottom-title-row {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}
.card-profile-row {
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-profile-1 {
  display: flex;
  align-items: center;
  gap: 4px;
}
.card-profile-1 img {
  width: 16px;
  border-radius: 50%;
}
.profile-name {
  color: #ffffff;
  opacity: 60%;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0;
}
.profile-2 {
  display: flex;
  align-items: center;
  gap: 2px;
}
.new-bid {
  display: flex;
  align-items: center;
  gap: 3px;
}
.new-bit-text {
  font-size: 12px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 0;
}
.profile-2-div {
  width: 20px;
  height: 20px;
  background: #1e1e37;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-2-div img {
  width: 10px;
}
.bottom-title-row {
  margin-top: 24px;
}
.reminder-row {
  width: 170px;
  padding: 4px;
  position: absolute;
  top: 156px;
  left: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  visibility: hidden;
}
.card-row:hover .reminder-row {
  visibility: visible;
  color: #625eff;
}
.card-row:hover .bottom-title-row {
  color: #625eff;
}
.vl {
  border-left: 1px solid #eaeaea;
  height: 10px;
}
.reminder-number {
  color: #1c1c1c;
  font-size: 12px;
  font-weight: 600;
}
.reminder-alpha {
  color: #1c1c1c;
  font-size: 12px;
  font-weight: 400;
  opacity: 60%;
  margin-left: -7px;
}
.reminder-alpha-s {
  color: #1c1c1c;
  font-size: 12px;
  font-weight: 400;
  opacity: 60%;
  margin-left: -4px;
}
/* pagination style here */
.pagination-group{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 24px;
  margin-top: 64px;
}
.pagination-div{
  padding: 12px 19px;
  background: #1E1E37;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.pagination-div:hover{
  background: #635EFF;
}
.pagination-div-active{
  background: #635EFF;
}
/* explore section responsive here */
/* for max width 1545px to min 1400px */
@media only screen and (min-width: 1400px) and (max-width: 1545px) {
  .explore-section {
    max-width: 1200px;
  }
  .card-group-row {
    gap: 18px;
  }
  .card-row {
    width: 285px;
    height: 330px;
  }
  .card-image-row {
    width: 100%;
    height: 170px;
  }
  .three-dot {
    padding: 3px;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 16px;
    left: 243px;
  }
  .three-dot i {
    font-size: 15px;
  }
  .explore-btn-container {
    margin-top: 60px;
  }
  .reminder-row {
    padding: 4px;
    top: 126px;
    left: 20px;
    border-radius: 6px;
  }
}
/* for max width 1400px to min width 1201px*/
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .explore-section {
    max-width: 1000px;
  }
  .explore-title {
    font-size: 40px;
  }
  .explore-btn-1 {
    font-size: 8px 18px;
    font-size: 14px;
  }
  .explore-btn-2 {
    font-size: 8px 18px;
    font-size: 14px;
  }
  .explore-btn-3 {
    font-size: 8px 18px;
    font-size: 14px;
  }
  .card-group-row {
    gap: 15px;
  }
  .card-row {
    width: 235px;
    height: 310px;
  }
  .card-image-row {
    width: 100%;
    height: 150px;
  }
  .love-div {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .love-div i {
    font-size: 12px;
  }
  .card-title-row {
    font-size: 20px;
  }
  .three-dot {
    padding: 3px;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 12px;
    left: 197px;
  }
  .three-dot i {
    font-size: 15px;
  }
  .explore-btn-container {
    margin-top: 40px;
  }
  .explore-btn {
    font-size: 14px;
    padding: 8px 18px;
  }
  .reminder-row {
    padding: 4px;
    top: 110px;
    left: 15px;
    border-radius: 6px;
  }
  .pagination-group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 18px;
    margin-top: 40px;
  }
  .pagination-div{
    padding: 14px 18px;
    background: #1E1E37;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
  }
  .pagination-div:hover{
    background: #635EFF;
  }
  .pagination-div-active{
    background: #635EFF;
  }
}
/* for big tab and laptops*/
@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .explore-section {
    max-width: 900px;
  }
  .explore-title {
    font-size: 35px;
  }
  .explore-btn-1 {
    padding: 6px 14px;
    font-size: 12px;
  }
  .explore-btn-2 {
    padding: 6px 14px;
    font-size: 12px;
  }
  .explore-btn-3 {
    padding: 6px 14px;
    font-size: 12px;
  }
  .card-group-row {
    gap: 12px;
  }
  .card-top-row {
    margin-top: 18px;
  }
  .card-row {
    width: 216px;
    height: 260px;
  }
  .card-image-row {
    width: 216px;
    height: 130px;
  }
  .love-div {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .love-div i {
    font-size: 10px;
  }
  .card-title-row {
    margin-top: 2px;
    font-size: 18px;
  }
  .three-dot {
    padding: 2px;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 185px;
  }
  .three-dot i {
    font-size: 12px;
  }
  .explore-btn-container {
    margin-top: 35px;
  }
  .explore-btn {
    font-size: 14px;
    padding: 8px 18px;
  }
  .reminder-row {
    padding: 3px;
    top: 90px;
    left: 15px;
    border-radius: 6px;
    width: 150px;
  }
  .reminder-row img {
    width: 14px;
  }
  .reminder-number {
    font-size: 9px;
  }
  .reminder-alpha {
    font-size: 9px;
    margin-left: -8px;
  }
  .reminder-alpha-s {
    margin-left: -7px;
    font-size: 9px;
  }
  .card-profile-row {
    margin-top: 2px;
  }
  .card-profile img {
    width: 7px;
  }
  .card-profile-1 {
    gap: 3px;
  }
  .card-profile-1 img {
    width: 13px;
  }
  .profile-name {
    font-size: 9px;
  }
  .profile-2-div {
    width: 15px;
    height: 15px;
  }
  .profile-2-div img {
    width: 7px;
  }
  .profile-2 {
    gap: 2px;
  }
  .new-bit-text {
    font-size: 9px;
  }
  .bottom-title-row {
    margin-top: 18px;
    font-size: 13px;
  }
  .pagination-group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 20px;
    margin-top: 40px;
  }
  .pagination-div{
    padding: 12px 15px;
    background: #1E1E37;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
  }
  .pagination-div:hover{
    background: #635EFF;
  }
  .pagination-div-active{
    background: #635EFF;
  }
}
/* for laptops and small screen */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .explore-section {
    max-width: 695px;
  }
  .explore-title {
    font-size: 30px;
  }
  .explore-btn-group {
    gap: 12px;
  }
  .explore-btn-1 {
    padding: 5px 10px;
    font-size: 9px;
    border-radius: 5px;
  }
  .explore-btn-2 {
    padding: 5px 10px;
    font-size: 9px;
    border-radius: 5px;
  }
  .explore-btn-3 {
    padding: 5px 10px;
    font-size: 9px;
    border-radius: 5px;
  }
  .card-group-row {
    gap: 12px;
  }
  .card-top-row {
    margin-top: 14px;
  }
  .card-row {
    width: 160px;
    height: 210px;
  }
  .card-image-row {
    width: 160px;
    height: 100px;
  }
  .card-top-title {
    font-size: 9px;
  }
  .love-div {
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .love-div i {
    font-size: 8px;
  }
  .card-title-row {
    margin-top: 0;
    font-size: 15px;
  }
  .three-dot {
    padding: 2px;
    border-radius: 3px;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 8px;
    left: 135px;
  }
  .three-dot i {
    font-size: 10px;
  }
  .explore-btn-container {
    margin-top: 16px;
  }
  .explore-btn {
    font-size: 12px;
    padding: 6px 14px;
    gap: 4px;
  }
  .explore-btn img {
    width: 7px;
  }
  .reminder-row {
    padding: 1px 4px;
    top: 75px;
    left: 8px;
    border-radius: 6px;
    width: 120px;
  }
  .reminder-row img {
    width: 10px;
  }
  .reminder-number {
    font-size: 7px;
  }
  .reminder-alpha {
    font-size: 7px;
    margin-left: -6px;
  }
  .reminder-alpha-s {
    margin-left: -5px;
    font-size: 9px;
  }
  .card-title-row {
    margin-bottom: 8px;
  }
  .card-profile-row {
    margin-top: 2px;
  }
  .card-profile img {
    width: 7px;
  }
  .card-profile-1 {
    gap: 2px;
  }
  .card-profile-1 img {
    width: 10px;
  }
  .profile-name {
    font-size: 7px;
  }
  .profile-2-div {
    width: 12px;
    height: 12px;
  }
  .profile-2-div img {
    width: 5px;
  }
  .profile-2 {
    gap: 2px;
  }
  .new-bit-text {
    font-size: 7px;
  }
  .bottom-title-row {
    margin-top: 14px;
    font-size: 11px;
  }
  .pagination-group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 16px;
    margin-top: 30px;
  }
  .pagination-div{
    padding: 10px 13px;
    background: #1E1E37;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
  }
  .pagination-div:hover{
    background: #635EFF;
  }
  .pagination-div-active{
    background: #635EFF;
  }
}
/* for tab and laptops responsive */
@media only screen and (max-width: 768px) and (min-width: 541px) {
  .explore-section {
    max-width: 520px;
  }
  .explore-title {
    font-size: 20px;
  }
  .explore-btn-group {
    gap: 8px;
  }
  .explore-btn-1 {
    padding: 5px 10px;
    font-size: 9px;
    border-radius: 5px;
  }
  .explore-btn-2 {
    padding: 5px 10px;
    font-size: 9px;
    border-radius: 5px;
  }
  .explore-btn-3 {
    padding: 5px 10px;
    font-size: 9px;
    border-radius: 5px;
  }
  .card-group-row {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .card-top-row {
    margin-top: 14px;
  }
  .card-row {
    width: 166px;
    height: 200px;
  }
  .card-image-row {
    width: 166px;
    height: 100px;
  }
  .card-top-title {
    font-size: 7px;
  }
  .love-div {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .love-div i {
    font-size: 7px;
  }
  .card-title-row {
    margin-top: 0;
    font-size: 12px;
  }
  .three-dot {
    padding: 2px;
    border-radius: 3px;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 9px;
    left: 143px;
  }
  .three-dot i {
    font-size: 8px;
  }
  .explore-btn-container {
    margin-top: 16px;
  }
  .explore-btn {
    font-size: 12px;
    padding: 6px 14px;
    gap: 4px;
  }
  .explore-btn img {
    width: 7px;
  }
  .reminder-row {
    padding: 1px 4px;
    top: 75px;
    left: 8px;
    border-radius: 6px;
    width: 120px;
  }
  .reminder-row img {
    width: 10px;
  }
  .reminder-number {
    font-size: 7px;
  }
  .reminder-alpha {
    font-size: 7px;
    margin-left: -6px;
  }
  .reminder-alpha-s {
    margin-left: -5px;
    font-size: 9px;
  }
  .card-title-row {
    margin-bottom: 8px;
  }
  .card-profile-row {
    margin-top: 2px;
  }
  .card-profile img {
    width: 5px;
  }
  .card-profile-1 {
    gap: 2px;
  }
  .card-profile-1 img {
    width: 10px;
  }
  .profile-name {
    font-size: 7px;
  }
  .profile-2-div {
    width: 12px;
    height: 12px;
  }
  .profile-2-div img {
    width: 5px;
  }
  .profile-2 {
    gap: 2px;
  }
  .new-bit-text {
    font-size: 7px;
  }
  .bottom-title-row {
    margin-top: 14px;
    font-size: 11px;
  }
  .explore-card-single-hide {
    display: block;
  }
  .explore-card-third-hide {
    display: none;
  }
  .pagination-group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 12px;
    margin-top: 20px;
  }
  .pagination-div{
    padding: 8px 10px;
    background: #1E1E37;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 600;
  }
  .pagination-div:hover{
    background: #635EFF;
  }
  .pagination-div-active{
    background: #635EFF;
  }
}
/* microsoft surface duo series device */
@media only screen and (max-width: 540px) and (min-width: 481px) {
  .explore-section {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .explore-title {
    font-size: 18px;
  }
  .explore-btn-group {
    gap: 8px;
  }
  .card-group-row {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
  }
  .card-top-row {
    margin-top: 16px;
  }
  .card-row {
    max-width: 247px;
    height: 300px;
  }
  .card-image-row {
    width: 100%;
    height: 160px;
  }
  .card-top-title {
    font-size: 10px;
  }
  .love-div {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .love-div i {
    font-size: 11px;
  }
  .three-dot {
    padding: 4px;
    border-radius: 3px;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 15px;
    left: 85%;
  }
  .three-dot i {
    font-size: 12px;
  }
  .explore-btn-container {
    margin-top: 25px;
  }
  .explore-btn {
    font-size: 12px;
    padding: 6px 14px;
    gap: 4px;
  }
  .explore-btn img {
    width: 7px;
  }
  .reminder-row {
    padding: 4px 5px;
    top: 105px;
    left: 14px;
    border-radius: 6px;
    width: 140px;
  }
  .reminder-row img {
    width: 12px;
  }
  .reminder-number {
    font-size: 10px;
  }
  .reminder-alpha {
    font-size: 10px;
    margin-left: -6px;
  }
  .reminder-alpha-s {
    margin-left: -4px;
    font-size: 10px;
  }
  .card-title-row {
    margin-top: 0;
    font-size: 20px;
  }
  .card-profile-row {
    margin-top: 10px;
  }
  .card-profile-1 {
    gap: 2px;
  }
  .card-profile-1 img {
    width: 14px;
  }
  .profile-name {
    font-size: 10px;
  }
  .profile-2-div {
    width: 16px;
    height: 16px;
  }
  .profile-2-div img {
    width: 7px;
  }
  .profile-2 {
    gap: 2px;
  }
  .new-bit-text {
    font-size: 10px;
  }
  .bottom-title-row {
    margin-top: 18px;
    font-size: 13px;
  }
  .explore-card-hide {
    display: none;
  }
  .pagination-group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 10px;
    margin-top: 17px;
  }
  .pagination-div{
    padding: 8px 11px;
    background: #1E1E37;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    font-size: 9px;
    font-weight: 600;
  }
  .pagination-div:hover{
    background: #635EFF;
  }
  .pagination-div-active{
    background: #635EFF;
  }
}
/* for sm device */
@media only screen and (max-width: 480px) and (min-width: 359px) {
  .explore-section {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .explore-title {
    font-size: 20px;
  }
  .explore-btn-group {
    gap: 5px;
  }
  .explore-btn-1 {
    padding: 4px 8px;
    font-size: 6px;
    border-radius: 4px;
  }
  .explore-btn-2 {
    padding: 4px 8px;
    font-size: 6px;
    border-radius: 4px;
  }
  .explore-btn-3 {
    padding: 4px 8px;
    font-size: 6px;
    border-radius: 4px;
  }
  .card-group-row {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
  .card-top-row {
    margin-top: 14px;
  }
  .card-profile img {
    width: 7px;
  }
  .card-profile p {
    font-size: 9px;
  }
  .card-row {
    max-width: 220px;
    height: 240px;
  }
  .card-image-row {
    width: 100%;
    height: 50%;
  }
  .card-top-title {
    margin-top: 5px;
    font-size: 10px;
  }
  .love-div {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .love-div i {
    font-size: 11px;
  }
  .three-dot {
    padding: 4px;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 9px;
    left: 80%;
  }
  .three-dot i {
    font-size: 12px;
  }
  .explore-btn-container {
    width: 120px;
    height: 0;
    margin-top: 20px;
  }
  .explore-btn {
    font-size: 12px;
    padding: 6px 14px;
    gap: 4px;
  }
  .explore-btn img {
    width: 7px;
  }
  .reminder-row {
    padding: 2px 5px;
    top: 80px;
    left: 10px;
    border-radius: 6px;
    width: 130px;
  }
  .reminder-row img {
    width: 12px;
  }
  .reminder-number {
    font-size: 10px;
  }
  .reminder-alpha {
    font-size: 10px;
    margin-left: -6px;
  }
  .reminder-alpha-s {
    margin-left: -4px;
    font-size: 10px;
  }
  .card-title-row {
    margin-top: 4px;
    font-size: 12px;
  }
  .card-profile-row {
    margin-top: 0px;
  }
  .card-profile-1 {
    gap: 2px;
  }
  .card-profile-1 img {
    width: 12px;
  }
  .profile-name {
    font-size: 8px;
  }
  .profile-2-div {
    width: 16px;
    height: 16px;
  }
  .profile-2-div img {
    width: 7px;
  }
  .profile-2 {
    gap: 2px;
  }
  .new-bit-text {
    font-size: 8px;
  }
  .bottom-title-row {
    margin-top: 20px;
    font-size: 13px;
  }
  .explore-card-hide {
    display: none;
  }
  .pagination-group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 8px;
    margin-top: 14px;
  }
  .pagination-div{
    padding: 8px 10px;
    background: #1E1E37;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    font-size: 9px;
    font-weight: 600;
  }
  .pagination-div:hover{
    background: #635EFF;
  }
  .pagination-div-active{
    background: #635EFF;
  }
}
/* for xs device */
@media only screen and (max-width: 358px) {
  .explore-section {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .explore-title {
    font-size: 20px;
  }
  .explore-btn-group {
    gap: 5px;
  }
  .explore-btn-1 {
    padding: 4px 8px;
    font-size: 6px;
    border-radius: 4px;
  }
  .explore-btn-2 {
    padding: 4px 8px;
    font-size: 6px;
    border-radius: 4px;
  }
  .explore-btn-3 {
    padding: 4px 8px;
    font-size: 6px;
    border-radius: 4px;
  }
  .card-group-row {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
  .card-top-row {
    margin-top: 14px;
  }
  .card-profile img {
    width: 7px;
  }
  .card-profile p {
    font-size: 9px;
  }
  .card-row {
    max-width: 180px;
    height: 200px;
  }
  .card-image-row {
    width: 100%;
    height: 90px;
  }
  .card-top-title {
    margin-top: 3px;
    font-size: 15px;
  }
  .love-div {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .love-div i {
    font-size: 10px;
  }
  .three-dot {
    padding: 4px;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    left: 77%;
  }
  .three-dot i {
    font-size: 12px;
  }
  .explore-btn-container {
    width: 120px;
    height: 0;
    margin-top: 20px;
  }
  .explore-btn {
    font-size: 12px;
    padding: 6px 14px;
    gap: 4px;
  }
  .explore-btn img {
    width: 7px;
  }
  .reminder-row {
    padding: 1px 5px;
    top: 55px;
    left: 5px;
    border-radius: 6px;
    width: 100px;
  }
  .reminder-row img {
    width: 12px;
  }
  .reminder-number {
    font-size: 10px;
  }
  .reminder-alpha {
    font-size: 10px;
    margin-left: -6px;
  }
  .reminder-alpha-s {
    margin-left: -4px;
    font-size: 10px;
  }
  .card-title-row {
    margin-top: 4px;
    font-size: 11px;
  }
  .card-profile-row {
    margin-top: 0px;
    gap: 2;
  }
  .card-profile-1 {
    gap: 2px;
  }
  .card-profile-1 img {
    width: 10px;
  }
  .profile-name {
    font-size: 7px;
  }
  .profile-2-div {
    width: 12px;
    height: 12px;
  }
  .profile-2-div img {
    width: 6px;
  }
  .profile-2 {
    gap: 0px;
  }
  .new-bit-text {
    font-size: 7px;
  }
  .bottom-title-row {
    margin-top: 18px;
    font-size: 10px;
  }
  .explore-card-hide {
    display: none;
  }
  .pagination-group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 4px;
    margin-top: 5px;
  }
  .pagination-div{
    padding: 5px 8px;
    background: #1E1E37;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    font-size: 7px;
    font-weight: 600;
  }
  .pagination-div:hover{
    background: #635EFF;
  }
  .pagination-div-active{
    background: #635EFF;
  }
}
