* {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  box-sizing: border-box;
}
.signup-section-container {
  max-width: 616px;
  margin: auto;
}
.title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 32px;
}
.with-social {
  display: flex;
  align-items: center;
  gap: 8px;
}
.vl {
  /* width: 238px; */
  width: 38%;
  height: 2px;
  background-color: #1e1e37;
  opacity: 60%;
}
.with-social span {
  font-size: 16px;
  color: #ffffff;
  opacity: 60%;
}
.fb-google-btn {
  margin-top: 24px;
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.social-btn {
  cursor: pointer;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px;
  width: 100%;
  border: 1px solid #625eff;
  background: transparent;
  transition: all 0.3s;
}
.nft-input-form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.nft-input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input-field {
  width: 100%;
  background: #1e1e37;
  padding: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 8px;
}
.input-field::placeholder {
  font-size: 16px;
  color: #ffffff;
}
.checkbox-forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  font-weight: 400;
}
.checkbox-btn {
  display: none;
}
.checkbox-forget label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.checkbox-forget label:before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 1px;
}
.checkbox-btn[type="checkbox"]:checked + label:before {
  background-color: #625eff;
  border-color: #625eff;
  content: "\2713";
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit-btn {
  cursor: pointer;
  width: 100%;
  background: transparent;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 30px;
  padding: 16px;
  border: 1px solid #625eff;
  transition: all 0.3s;
}
.submit-btn:hover {
  background: #625eff;
}
.social-btn:hover {
  background: #625eff;
}
/* for max 1545 px to min 1400px */
@media only screen and (min-width: 1400px) and (max-width: 1545px) {
}
/* for max 1400 px to min 1201px */
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
}
/* for big tab and laptops*/
@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .title {
    font-size: 40px;
  }
}
/* for laptops and small screen */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .title {
    font-size: 40px;
  }
}
/* for tab and laptops responsive */
@media only screen and (max-width: 768px) and (min-width: 541px) {
  .signup-section-container {
    max-width: 520px;
  }
  .title {
    font-size: 35px;
    margin-bottom: 25px;
  }
  .with-social span {
    font-size: 14px;
  }
  .with-social {
    gap: 6px;
    justify-content: center;
  }
  .vl {
    width: 38%;
  }
  .fb-google-btn {
    margin-top: 20px;
    margin-bottom: 40px;
    gap: 13px;
  }
  .social-btn {
    padding: 12px;
    font-size: 14px;
  }
  .nft-input-form {
    margin-top: 18px;
    gap: 18px;
  }
  .input-field {
    padding: 12px;
  }
  .input-field::placeholder {
    font-size: 14px;
  }
  .checkbox-forget {
    font-size: 14px;
  }
  .checkbox-forget label:before {
    width: 16px;
    height: 16px;
  }
  .checkbox-forget label {
    padding-left: 20px;
  }
  .submit-btn {
    font-size: 14px;
    padding: 12px;
  }
}
/* microsoft surface duo series device */
@media only screen and (max-width: 540px) and (min-width: 481px) {
  .signup-section-container {
    max-width: 100%;
    padding: 0 15px 0 15px;
  }
  .title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .with-social span {
    font-size: 12px;
  }
  .with-social {
    justify-content: center;
  }
  .vl {
    width: 38%;
  }
  .fb-google-btn {
    margin-top: 20px;
    margin-bottom: 35px;
    gap: 12px;
  }
  .social-btn {
    padding: 12px;
    font-size: 14px;
  }
  .nft-input-form {
    margin-top: 18px;
    gap: 18px;
  }
  .input-field {
    padding: 12px;
  }
  .input-field::placeholder {
    font-size: 14px;
  }
  .checkbox-forget {
    font-size: 14px;
  }
  .checkbox-forget label:before {
    width: 16px;
    height: 16px;
  }
  .checkbox-forget label {
    padding-left: 20px;
  }
  .submit-btn {
    font-size: 14px;
    padding: 12px;
  }
}
/* for sm device */
@media only screen and (max-width: 480px) and (min-width: 359px) {
  .signup-section-container {
    max-width: 100%;
    padding: 0 15px 0 15px;
  }
  .title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .with-social span {
    font-size: 11px;
  }
  .with-social {
    gap: 4px;
    justify-content: center;
  }
  .vl {
    width: 35.9%;
  }
  .fb-google-btn {
    margin-top: 20px;
    margin-bottom: 30px;
    gap: 10px;
  }
  .social-btn {
    padding: 10px;
    font-size: 13px;
    gap: 6px;
  }
  .nft-input-form {
    margin-top: 18px;
    gap: 18px;
  }
  .input-field {
    padding: 10px;
  }
  .input-field::placeholder {
    font-size: 13px;
  }
  .checkbox-forget {
    font-size: 13px;
  }
  .checkbox-forget label:before {
    width: 15px;
    height: 15px;
  }
  .checkbox-forget label {
    padding-left: 20px;
  }
  .submit-btn {
    font-size: 13px;
    padding: 10px;
  }
}
/* for xs device */
@media only screen and (max-width: 358px) {
  .signup-section-container {
    max-width: 100%;
    padding: 0 10px 0 10px;
  }
  .title {
    font-size: 22px;
    margin-bottom: 18px;
  }
  .with-social span {
    font-size: 10px;
  }
  .with-social {
    gap: 3.5px;
    justify-content: center;
  }
  .vl {
    width: 33.8%;
  }
  .fb-google-btn {
    margin-top: 18px;
    margin-bottom: 22px;
    gap: 8px;
  }
  .social-btn {
    padding: 8px;
    font-size: 11px;
    gap: 4px;
  }
  .nft-input-form {
    margin-top: 18px;
    gap: 16px;
  }
  .input-field {
    padding: 8px;
  }
  .input-field::placeholder {
    font-size: 11px;
  }
  .checkbox-forget {
    font-size: 11px;
    align-items: normal;
  }
  .checkbox-forget label:before {
    width: 13px;
    height: 13px;
  }
  .checkbox-forget label {
    padding-left: 18px;
  }
  .submit-btn {
    font-size: 11px;
    padding: 8px;
  }
}
